{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta \ http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password </title>
    <link rel="icon" href="{% static 'Images/buLogo.png' %}">
    <link rel="stylesheet" href="{% static 'forgot_main.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  </head>

  <body>
    <div class="container" id="form-group">
      <div class="row">
        <div class="col-12">
         <img src="{% static 'Images/key.png' %}" alt="key" class=" mx-auto d-block">
        </div>
        <div class="col-12 text-center text-1 mt-5">
         FORGOT PASSWORD?
        </div>
        <div class="col-12 text-center mt-2 text-4">
         Don't worry about it, we've got you!
         </div>
        <div class="col-12 mt-5">
            <form action="/accounts/send_otp" method="post">
              {% csrf_token %}
          <div class="form-group">
            <label for="email" class="text-2">Email Address:</label>
            <br>
            <label class="text-3">Please enter the email linked to your account</label>
             <input type="email" class="form-control mt-4" placeholder="e.g blessedvictorigwe@gmail.com" name="email" required id="email">
          </div>
            <button type="submit" class="btn btn-block text-light mt-5" id="doneBtn">Done</button>
          
    
        </form>
        </div>
        <a class="col-4 mt-5 back forgotpassword" href="/accounts/login"><img src="{% static 'Images/back.png' %}" alt="back"> Back</a>
      </div>
      
       
    </div>
    

  
  </body>
  </html>