{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta \ http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offence Page</title>
    <link rel="icon" href="{% static 'Images/buLogo.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
<div class="container-fluid"> 
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2" id="loginCol1">
        <div class="row mt-3">
            <div class="col-12">
                <img src="{% static 'Images/buLogo.png' %}" alt="Babcock Logo" id="buLogo">
            </div>

        </div> 
        <div class="row text-light">
            <div class="offence">
              <div class="col-12" id="items">
                <a  href="/main/get/offense"  class="offenceicons">
                    <img src="{% static 'add_offence/offendericon1.png' %}" alt="offender list" onclick="offenderslist()"  id="offenderslist">
                    <span onclick="offenderslist()" id="offenderfont">Offenders list</span> 
                </a>
               
            </div>
            <div class="col-12" id="items">
                <a href="/main/get/offense-form/none"  class="offenceicons">
                    <img src="{% static 'add_offence/addoffence1.png' %}" alt="add offence" onclick="addoffence()" id="addoffence">
                <span onclick="addoffence()" id="addoffencefont">Add Offence</span> 
                </a>
                
            </div>
            <div class="col-12" id="items">
                <a href="/main/report"  class="offenceicons">
                    <img src="{% static 'add_offence/report2.png' %}" alt="report" onclick="report()" id="report">
                    <span onclick="report()" id="reportfont">Monthly Report</span>
                </a>
                
            </div>
            <div class="col-12" id="items">
                <a href="/main/get/suspension"  class="offenceicons">
                    <img src="{% static 'add_offence/suspension1.png' %}" alt="sus" onclick="sus()" id="sus">
                    <span onclick="sus()" id="susfont">Suspension List</span>
                </a>
                
            </div>
            <div class="col-12" id="items">
                <a href="/main/get/expulsion"  class="offenceicons">
                    <img src="{% static 'add_offence/expulsion1.png' %}" alt="exp" onclick="exp()" id="exp">
                    <span onclick="exp()" id="expfont">Expulsion List</span>
                </a>
                
            </div>
            <div class="col-12 ml-4" id="items">
                <a href="/main/get/offense-form/none">
                    <img src="{% static 'add_offence/logout.png' %}" alt="Babcock Logo">
                    <span id="logout"> Logout</span>
                </a>
               
            </div>
            </div>
           

        </div> 
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9" id="col-9">
            <div class="row" id="row-3">
                <div class="col-4  mt-2 mb-2">
                    <img src="{% static 'add_offence/admin.png' %}" alt="admin">
                </div>
                <div class="col-8 text-light mt-3 mb-4" id="buoms">
                   BABCOCK UNIVERSITY OFFENCE MANAGEMENT SYSTEM
                </div>
            </div>
                <div class="tab">
                    
                <!-- For January -->
                {% for re in report  %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th colspan="3">{{re.month}}</th>  
                    </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Offence Committed</b></td>
                            <td><b>Degree</b></td>
                            <td><b>Number Of Students</b></td>
                          </tr>
                        {% for r in re.content %}
                      <tr>
                        <td>{{r.offense}}</td>
                        <td>Under graduate</td>
                        <td>{{r.total}}</td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                </table>
              {% endfor %}
                <!-- For Febuary -->

                </div>
        </div>
    </div>
</div>
    <script src="../script3.js"></script>
  </body>
</html>