{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta \ http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offence Page</title>
    <link rel="icon" href="{% static 'Images/buLogo.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
<div class="container-fluid"> 
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2" id="loginCol1">
            <div class="row mt-3">
                <div class="col-12">
                    <img src="{% static 'Images/buLogo.png' %}" alt="Babcock Logo" id="buLogo">
                </div>

            </div> 
            <div class="row text-light">
                <div class="offence">
                    <div class="col-12" id="items">
                        <a  href="/main/get/offense"  class="offenceicons">
                            <img src="{% static 'add_offence/offendericon1.png' %}" alt="offender list" onclick="offenderslist()"  id="offenderslist">
                            <span onclick="offenderslist()" id="offenderfont">Offenders list</span> 
                        </a>
                       
                    </div>
                    <div class="col-12" id="items">
                        <a href="/main/get/offense-form/none"  class="offenceicons">
                            <img src="{% static 'add_offence/addoffence1.png' %}" alt="add offence" onclick="addoffence()" id="addoffence">
                        <span onclick="addoffence()" id="addoffencefont">Add Offence</span> 
                        </a>
                        
                    </div>
                    <div class="col-12" id="items">
                        <a href="/main/report"  class="offenceicons">
                            <img src="{% static 'add_offence/report2.png' %}" alt="report" onclick="report()" id="report">
                            <span onclick="report()" id="reportfont">Monthly Report</span>
                        </a>
                        
                    </div>
                    <div class="col-12" id="items">
                        <a href="/main/get/suspension"  class="offenceicons">
                            <img src="{% static 'add_offence/suspension1.png' %}" alt="sus" onclick="sus()" id="sus">
                            <span onclick="sus()" id="susfont">Suspension List</span>
                        </a>
                        
                    </div>
                    <div class="col-12" id="items">
                        <a href="/main/get/expulsion"  class="offenceicons">
                            <img src="{% static 'add_offence/expulsion1.png' %}" alt="exp" onclick="exp()" id="exp">
                            <span onclick="exp()" id="expfont">Expulsion List</span>
                        </a>
                        
                    </div>
                    <div class="col-12 ml-4" id="items">
                        <a href="/accounts/login">
                            <img src="{% static 'add_offence/logout.png' %}" alt="Babcock Logo">
                            <span id="logout"> Logout</span>
                        </a>
                       
                    </div>
                </div>
               

            </div> 
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9" id="col-9">
                <div class="row" id="row-3">
                    <div class="col-4  mt-2 mb-2">
                        <img src="{% static 'add_offence/admin.png' %}" alt="admin">
                    </div>
                    <div class="col-8 text-light mt-3 mb-4" id="buoms">
                       BABCOCK UNIVERSITY OFFENCE MANAGEMENT SYSTEM
                    </div>
                </div>

                <div id="offlist">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                            <input type="text" name="search" id="search">
                        </div>
                    </div>
                    <div class="row">
                        {% for offense in data %}
                        <div class="card col-sm-12 col-md-4 col-lg-4 ml-4 mt-5 mb-2">
                            <div class="card-body">
                              <h4 class="card-title"></h4>
                              <p class="card-text">
                                <img src="{% static 'iconandcircle.png' %}" alt="icon" class="profile">
                                 <span class="profilematric">{{offense.name}}</span>
                              </p>
                              <p class="card-text" id="cardcourse"></p>
                            </div>
                          </div>
                        {% endfor  %}

                    </div>
                </div>
               
                
        </div>
    </div>
</div>
    <script src=""></script>
  </body>
</html>