<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta \ http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password </title>
    <link rel="icon" href="../Images/buLogo.png">
    <link rel="stylesheet" href="../forgotpassword/main.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
  </head>

  <body>
    <div class="container"id="form-group2">
      <div class="row">
        <div class="col-12">
         <img src="../Images/key.png" alt="key" class=" mx-auto d-block">
        </div>
        <div class="col-12 text-center text-1 mt-5">
         RESET PASSWORD
        </div>
        <div class="col-12 mt-3">
            <form  onsubmit ="return verifyPassword()">
          <div class="form-group2">
            <label for="newPwd" class="text-2">New Password:</label>
            <br>
            <label class="text-3">Please enter a new password</label>
             <input type="password" class="form-control" id="pswd" value="" required>
                <div class="flex2">
                  <img src="../Images/Group.png" alt="error image" id="errorimg1" class="error">
                  &nbsp;
                  <span id = "message" class="message"></span>
                </div>

          </div>
          <div class="form-group">
            <label for="confirmPwd" class="text-2">Confirm Password:</label>
             <input type="password" class="form-control" id="pswd2" value="" required>
             <div class="flex2">
              <img src="../Images/Group.png" alt="error image" id="errorimg2" class="error">
              &nbsp;
              <span id = "message2" class="message"> </span>
             </div>
          </div>
          <button type="submit" class="btn btn-block text-light mt-4" id="doneBtn">Done</button>
        </form>
        </div>
        <a class="col-4 mt-4 back forgotpassword" href="../verifyaccount/index.html">
          <img src="../Images/back.png" alt="back">
           Back
          </a>
      
       
    </div>
    
    </div>
    <script type="text/javascript" src="../script.js"></script>
  </body>
  </html>