<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Password Set</title>
    <link rel="icon" href="../Images/buLogo.png">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="reset.css">
    <script src="../bootstrap/js/jquery.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
</body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">New Password Set</div>
            <div class="col-12 mt-4">
                <img src="../Images/Check1.png" alt="successful" class="mx-auto d-block" id="resetsuccessful">
            </div>
        </div>
    </div>
</html>